.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
    padding-bottom: 3rem;
}

.navbar-logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none; /* Remove bullet points */
    display: flex; /* Display links in a horizontal line */
    gap: 1rem; /* Add spacing between links */
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.navbar-links a {
    
    text-decoration: none; /* Remove underline */
    font-size: 2rem;
    color:#999;
}

.navbar-links a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.list-item {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between; /* Align values inline */
    gap: 1rem;
  }
  
  .list-item-content{
    font-size: 1rem;
    color: #333;
    display:flex;   
    justify-content: space-between; /* Align values inline */
    flex-direction: row;
    width:100%;
    gap:1rem;

  }

  .list-item-content span {
    flex: 1; /* Allow each item to take equal space */
    text-align: center; /* Center align text */
  }

  .list-view {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    width: 100%;
    max-width: 800px; /* Limit the width of the list view */
    margin: 1rem auto; /* Center the list view */
    padding: 1rem; /* Add padding inside the container */
    background-color: #f5f5f5; /* Light background color for shading */
    border: 1px solid #ddd; /* Add a border around the container */
    border-radius: 8px; /* Round the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
  
  .list-view-header {
    display: flex;
    justify-content: space-between; /* Align titles inline */
    align-items: center;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  
  .list-view-header span {
    font-size: 1rem;
    text-align: center; 
    flex:1;
    color: #333;
  }
  
  .list-view-items {
    padding: 0;
    margin: 0;
  }