#root {
  max-width: 1280px;
  min-width:600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 3px solid rgba(49, 45, 45, 0.24);
  border-radius: 8px;
  background-color: #F9F9EF;
  color: #222;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.start-button {
  width: 100px; /* Set the width of the button */
  height: 100px; /* Set the height of the button */
  border-radius: 50%; /* Make the button circular */
  background-color: #007bff; /* Set the background color */
  color: white; /* Set the text color */
  border: 5px solid white; /* Remove the border */
  font-size: 1rem; /* Set the font size */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  display: flex; /* Center the text inside the button */
  justify-content: center;
  margin: 20px auto;
  align-items: center;
  transition: background-color 0.3s ease; /* Add a hover transition */
}

.start-button:hover {
  background-color: #0056b3; /* Darken the background color on hover */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 10%;
}

.home h1 {
  margin:0;
}

.login-tabs {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-tabs button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 50%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}
